{% extends 'base.html' %}

{% load static %}


{% block content %}

<section class="section-content padding-y bg">
    <div class="container">
    
    <!-- ============================ COMPONENT 1 ================================= -->
    <div class="card">
        <div class="row no-gutters">
            <aside class="col-md-6">
    <article class="gallery-wrap"> 
        <div class="img-big-wrap">
           <a href="#"><img src="{{single_product.image.url}}"></a>
        </div> <!-- img-big-wrap.// -->
        
    </article> <!-- gallery-wrap .end// -->
            </aside>
            <main class="col-md-6 border-left">
   <!---product variatiion-->

  <form action="{% url 'app_cart:add_cart' single_product.id %}" method="POST">
    {% csrf_token %}
    <article class="content-body">
    
    <h2 class="title">{{single_product.product_name}}</h2>
    
    <div class="mb-3"> 
        <var class="price h4">{{single_product.price}}</var> 
    </div> 
    
    <p>{{single_product.description}}</p>
    
    
    <hr>
        <div class="row">
            <div class="item-option-select">
                <h6>Choose Color</h6>
               <select name="color" class="form-control" required>
                 <option value="" disabled selected>Choose color</option>


                 <!--from variation manager in model-->


                 {% for i in single_product.variation_set.colors %}
                 <option value="{{i.variation_value|lower}}">{{i.variation_value | capfirst}}</option>
                 {% endfor %}
               </select> 
            </div>
        </div> <!-- row.// -->
       <div class="row">
            <div class="item-option-select">
                <h6>Select Size</h6>
                <select name="size" class="form-control" required>
                  <option value="" disabled selected>Choose Size</option>


                  <!--from variation manager in model-->


                  {% for i in single_product.variation_set.sizes %}
                  <option value="{{i.variation_value|lower}}">{{i.variation_value | capfirst}}</option>
                  {% endfor %}
                </select> 
            </div>
        </div> <!-- row.// -->
        <hr>
        {% if single_product.stock <= 0 %}
            <h4>out of stock</h4>
        {% else %}
        {% if in_cart %}
          <p>Already added</p>
          <button type='submit'  class="btn  btn-primary"> <span class="text">Add to cart</span> <i class="fas fa-shopping-cart"></i>  </button>
          <a href="{% url 'app_cart:cart' %}" class="btn btn-outline-primary"><span class="text">View Cart</span><i class="fas fa-check"></i></a>
        {% else %}
        <button type='submit'  class="btn  btn-primary"> <span class="text">Add to cart</span> <i class="fas fa-shopping-cart"></i></button>
        {% endif %}
        {% endif %}
    </article> <!-- product-info-aside .// -->
  </form>
            </main> <!-- col.// -->
        </div> <!-- row.// -->
    </div> <!-- card.// -->
    <!-- ============================ COMPONENT 1 END .// ================================= -->
    

{% endblock %}